name: Deploy Static Site
on:
  workflow_call:
    inputs:
      region:
        required: true
        type: string
      account:
        required: true
        type: string
      project:
        required: true
        type: string
      artifact:
        required: true
        type: string
      files-directory:
        type: string
        default: dist/
    secrets:
      aws-ci-role-arn:
        required: true

jobs:
  Create-Deployment-Role:
    uses: jaskwa/pipelines/.github/workflows/create-deployment-role.yml@main
    with:
      region: ${{ inputs.region }}
      account: ${{ inputs.account }}
      project: ${{ inputs.project }}
      artifact: ${{ inputs.artifact }}
    secrets:
      tooling-account: ${{ secrets.tooling-account }}
      ci-role-arn: ${{ secrets.aws-ci-role-arn }}
  Deploy-Infrastructure:
    needs: Create-Deployment-Role
    uses: jaskwa/pipelines/.github/workflows/deploy-infrastructure.yml@main
    with:
      region: ${{ inputs.region }}
      account: ${{ inputs.account }}
      project: ${{ inputs.project }}
      artifact: ${{ inputs.artifact }}
    secrets:
      tooling-account: ${{ secrets.tooling-account }}
      ci-role-arn: ${{ secrets.aws-ci-role-arn }}
  # Sync-Files:
  #   needs: Deploy-Infrastructure
  #   uses: jaskwa/pipelines/.github/workflows/sync-files.yml@main
  #   with:
  #     region: ${{ inputs.region }}
  #     project: ${{ inputs.project }}
  #     artifact: ${{ inputs.artifact }}
  #     dir: ${{ inputs.files-directory }}
  #   secrets:
  #     tooling-account: ${{ secrets.tooling-account }}
  #     ci-role-arn: ${{ secrets.aws-ci-role-arn }}
